.container {
  position: relative;
  //background: #5b9bd5 url(../../assets/images/wq-bg.jpg) no-repeat;
  background: linear-gradient(to bottom left, #658afc, #478dff 10px, #d4e7f6);
  //background: #658afc;
  background-size: 100%;
  font-family: 'Microsoft YaHei',serif;
  z-index: 0;
}

.bg{
  position: absolute;
  top: 25px;
  width: 100%;
  height: 100vh;
  background: url(~@/assets/images/lights.png) no-repeat;
  background-size: 100%;
  z-index: -2;
  .time1 {
    position: relative;
    display: flex;
    top: 10%;
    color: #20a0ff;
    text-align: center;
    transform: skew(-30deg);
    font-size: 20px;
    font-weight: 900;
    font-family: "monospace","Microsoft YaHei","PingFang SC","Droid Sans Fallback","SimHei","PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}
.logo-container{
  position: relative;
  display: flex;
  flex-direction: column;
  .logo-pic{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 0 10px;
  }
  .big-title-container{
    //display: none;
    padding: 20px 20px 10px 20px;
    font-family: "YOUSHEBIAOTIHEI-2","Microsoft YaHei","PingFang SC","Droid Sans Fallback","SimHei","PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    .big-title{
      display: flex;
      flex-direction: column;
      gap: 1px;
      padding: 10px;
      .big-title-1 {
        position: relative;
        color: #ffdd54;
        font-size: var(--size);
        text-align: center;
        &::before{
          position: absolute;
          content: attr(before-content);
          transform: translate(4px,4px);
          color: var(--color);
          z-index: -1;
        }
      }
      .big-title-2{
        position: relative;
        font-size: var(--size);
        //font-style: italic;
        color: #fff;
        text-align: end;
        &::before{
          position: absolute;
          content: attr(before-content-sub);
          transform: translate(4px,4px);
          color: var(--color);
          z-index: -1;
        }
      }
    }
  }
  .time-container{
    font-family: "YOUSHEBIAOTIHEI-2","Microsoft YaHei","PingFang SC","Droid Sans Fallback","SimHei","PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    display: none;
    justify-content: center;
    font-size: 20px;
    line-height: 28px;
    color: #20a0ff;
    font-weight: 600;
    //font-style: italic;
    .parallelogram {
      text-align: center;
      width: 220px;
      height: 28px;
      border-radius: 5px;
      transform: skew(20deg);
      background: #fff;
      .time{
        transform: skew(-30deg);
        font-family: "monospace","Microsoft YaHei","PingFang SC","Droid Sans Fallback","SimHei","PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
    }
  }

}
.outer {
  position: relative;
  background-color: white;
  border-radius: 10px;
  //border: 1px solid #769bd4;
  padding: 4px;
  width: 94%;
  margin-left: auto;
  margin-right: auto;
}
.content {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #769bd4;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.riqi{
  display: flex;
  justify-content: center;
  height: 0;
  transform: translateY(-60px);
  .inner{
    font-family: "YOUSHEBIAOTIHEI-2","Microsoft YaHei","PingFang SC","Droid Sans Fallback","SimHei","PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    background: url("~@/assets/images/date-bg.png");
    background-size: 100% 100%;
    //transform: skew(-30deg);
    color: #20a0ff;
    position: absolute;
    height: 35px;
    width: 50%
  }
}
.trapezoid-outer{
  display: flex;
  justify-content: center;
  height: 0;
  transform: translateY(-4px) perspective(10px) rotateX(-3deg);
}
.trapezoid-inner{
  background-color: #20a0ff;
  position: absolute;
  height: 6px;
  width: 60%
}

.trapezoid-outer1{
  display: flex;
  justify-content: center;
  height: 0;
  transform: translateY(-4px) perspective(15px) rotateX(-2deg);
}
.trapezoid-inner1{
  background-color: #20a0ffee;
  position: absolute;
  height: 36px;
  width: 55%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.trapezoid-inner1-text{
  text-align: center;
  color: white;
  font-size: 20px;
  line-height: 35px;
  font-weight: 900;
  transform: perspective(15px) rotateX(2deg);
}

.description {
  font-size: var(--size1);
  line-height: var(--size2);
  color: black;
  padding: 5px 15px;
}
.version{
  font-family: "monospace","Microsoft YaHei","PingFang SC","Droid Sans Fallback","SimHei","PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  flex-direction: column;
  display: flex;
  font-size: 12px;
  color: #232323;
  font-weight: 700;
  justify-content: end;
  padding-bottom: 5px;
}
.table-container{
  ::v-deep .el-table {
    font-family: "Microsoft YaHei","PingFang SC","Droid Sans Fallback","SimHei","PingFang SC", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 10px;
    color: #000;
    //transform: scale(0.5);
    //transform-origin: 0 top;
  }
  ::v-deep .el-table td, ::v-deep .el-table th {
    padding: 0;
    text-align: center;
  }
  ::v-deep .el-table .cell {
    padding: 2px;
  }
  ::v-deep .el-table .el-table__cell {
    padding: 2px;
  }
  ::v-deep .el-table .cell {
    line-height: 12px;
  }
}
